# ビルド成果物
build/

# マップ関連（デフォルトは残す）
tools/*.yaml
tools/*.pgm
!tools/map.yaml
!tools/map.pgm
!tools/map_schema.yaml

# ログやデータファイル
*.log
*.json
*.csv
*.png

# python
.venv/
*.pyc
__pycache__/

# ワークスペース情報
docs/
.github/

# 設定ファイル（デフォルは残す）
configs/*/*
test/*/configs/*
configs/scenario.toml
!configs/scenario.toml
!configs/defaults/
!*.gitkeep